/* Import Local SCSS Files */
@import 'fonts';

/* color */
$White: #fff;
$Black: #000;

/* fonts */
$Default-font: 'Public Sans';
$Title-font: 'Inter';

/* font size */
$h1-px : 64px;
$h2-px : 48px;
$h3-px : 36px;
$h4-px : 32px;
$h5-px : 24px;
$h6-px : 20px;